<%= form_with(model: userlist, local: true) do |form| %>
  <% if userlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userlist.errors.count, "error") %> prohibited this userlist from being saved:</h2>

      <ul>
      <% userlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :userlist_user_id %>
    
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id, id: :userlist_group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
